*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-left: 80px;
  padding: 30px 0;

}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    z-index: 1;

}

.card-info {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30%;
  flex-direction: column;
  text-align: left;
}

.card-title {
    font-family: 'Helvetica';
    color: #212353;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-background {
    position: absolute;
    top: 0;
    width: 400px;
    height: 300px;
    left: -10%;
    object-fit: fill;
    z-index: 0;
}

.card-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    right: 80%;
    z-index: 100;
    object-fit: contain;
}

.card-content {
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 400;
    color: #4B5D68;
    max-width: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-learn {
  display: flex;
  align-items: center;
}

.card-learn i {

  color:  #9C69E2;
}

.card-learn .card-link {
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Avenir';
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.005em;
  cursor: pointer;
  color: #212353
}

/* Toggle */

.toggle {
  background-color: rgb(107, 30, 30);
  height: 30px;
  width: 60px;
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
}

.toggle_left, .toggle_right {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin: 5px;
}

.toggle_right {
  margin: 5px 2px 5px 33px;
}